<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:replace="fragments/header.html"></div>
<h1>Edit project</h1>

<form th:action="@{/project/edit/${project.id}}" method="POST" th:object="${project}">

    <input type="hidden" th:field="*{id}"/>

    <p>
    <div>Name:</div>
    <div>
        <input type="text" th:field="*{name}"/>
    </div>
    </p>

    <p>
    <div>Description:</div>
    <div>
        <input type="text" th:field="*{description}"/>
    </div>
    </p>

    <p>
    <div>Status:</div>
    <div>
        <select th:field="*{status}">
            <option th:each ="status: ${T(ru.tsc.chertkova.tm.enumerated.Status).values()}" th:value="${status}" th:text="${status}" />
        </select>
    </div>
    </p>

    <p>
    <div>Started:</div>
    <div>
        <input type="date" th:field="*{dateBegin}"/>
    </div>
    </p>

    <p>
    <div>Completed:</div>
    <div>
        <input type="date" th:field="*{dateEnd}"/>
    </div>
    </p>

    <button type="submit">Save</button>
</form>

<div th:replace="fragments/footer.html"></div>
</body>
</html>