<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:replace="fragments/header.html"></div>
<h1>Tasks</h1>

<table width="100%" cellpadding="10" border="1" style="border-collapse: collapse;">
    <tr>
        <th width="200" nowrap="nowrap">Id</th>
        <th width="200" nowrap="nowrap" align="left">Name</th>
        <th width="100%" align="left">Description</th>
        <th width="150" align="center" nowrap="nowrap">Status</th>
        <th width="150" align="center" nowrap="nowrap">Created</th>
        <th width="100" align="center" nowrap="nowrap">Started</th>
        <th width="100" align="center" nowrap="nowrap">Completed</th>
        <th width="100" align="center" nowrap="nowrap">EDIT</th>
        <th width="100" align="center" nowrap="nowrap">DELETE</th>
    </tr>
    <tr th:each ="task: ${tasks}">
        <td align="center" nowrap="nowrap" th:utext="${task.id}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.name}">...</td>
        <td  align="center" nowrap="nowrap" th:utext="${task.description}">...</td>
        <td  align="center" nowrap="nowrap" th:utext="${task.status}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.created}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.dateBegin}">...</td>
        <td align="center" nowrap="nowrap" th:utext="${task.dateEnd}">...</td>
        <td align="center">
            <a th:href="@{'/task/edit/' + ${task.id}}">EDIT</a>
        </td>
        <td align="center">
            <a th:href="@{'/task/delete/' + ${task.id}}">DELETE</a>
        </td>
    </tr>
</table>

<form method="GET" action="/task/create" style="margin-top: 20px">
    <button>CREATE</button>
</form>

<div th:replace="fragments/footer.html"></div>
</body>
</html>